# Connection to MSSM SQL Server & Create different tables and populate with desired data

# Table Schemas

## 1. Temporary Table: `#DOR_IG_REVENUE`
This table is created to hold interim results for revenue calculations, including different categories of revenue like food, beverage, and other revenues, both cash and comp.

**Columns:**
- `TransactionDate`: Date of the transaction.
- `Revenue_Center`: Categorized revenue center.
- `Gross_Revenue`: Sum of calculated gross sales amount.
- `Discounts`: Sum of calculated discount amount.
- `Net_Revenue`: Gross revenue minus discounts.
- `Food_Cash`: Sum of non-comp food revenue.
- `Food_Comp`: Sum of comp food revenue.
- `NonAlc_Bev_Cash`: Sum of non-alcoholic beverage cash revenue.
- `NonAlc_Bev_Comp`: Sum of non-alcoholic beverage comp revenue.
- `Beverage_Cash`: Sum of beverage cash revenue.
- `Beverage_Comp`: Sum of beverage comp revenue.
- `Other_Cash`: Sum of other cash revenue.
- `Other_Cash_NonTax`: Sum of other non-taxable cash revenue.
- `Other_Comp`: Sum of other comp revenue.
- `Other_Comp_NonTax`: Sum of other non-taxable comp revenue.

## 2. Temporary Table: `#DOR_IG_COVERS`
This table stores the number of covers (i.e., number of people served) and checks.

**Columns:**
- `Tran_Date`: Date of the transaction.
- `Profit_center_name`: Name of the profit center.
- `Checks`: Number of checks minus refunded checks.
- `Covers`: Sum of the number of covers.

## 3. Temporary Table: `#DOR_IG_SVC_Fees`
This table holds service fee information for different profit centers.

**Columns:**
- `Tender_Date`: Date of the tender.
- `Profit_center_name`: Name of the profit center.
- `Service_Fee_House`: Sum of house service fees.
- `Service_Charge_Other`: Sum of other service charges.
- `Service_Charges`: Sum of all service charges.

## 4. Temporary Table: `#DOR_POOL_OTHER`
This table aggregates other revenue information specifically for pool services.

**Columns:**
- `TransactionDate`: Date of the transaction.
- `Revenue_Center`: Set as 'Pool Service'.
- `Food_Cash`: Set to 0.
- `Food_Comp`: Set to 0.
- `Beverage_Cash`: Set to 0.
- `Beverage_Comp`: Set to 0.
- `Other_Cash`: Sum of other cash revenue.
- `Other_Cash_NonTax`: Sum of other non-taxable cash revenue.
- `Other_Comp`: Sum of other comp revenue.
- `Other_Comp_NonTax`: Sum of other non-taxable comp revenue.

## 5. Temporary Table: `#DOR_POOL_FB`
This table aggregates food and beverage revenue for different pool areas.

**Columns:**
- `TransactionDate`: Date of the transaction.
- `Capri_Food_Cash`: Sum of cash food revenue for specific pool bars.
- `Capri_Food_Comp`: Sum of comp food revenue for specific pool bars.
- `Spritz_Food_Cash`: Sum of cash food revenue for other pool services.
- `Spritz_Food_Comp`: Sum of comp food revenue for other pool services.
- `PPool_Food_Cash`: Sum of cash non-alcoholic beverage revenue for specific pool bars.
- `VPool_Food_Cash`: Sum of cash non-alcoholic beverage revenue for other pool services.
- `PPool_Food_Comp`: Sum of comp non-alcoholic beverage revenue for specific pool bars.
- `VPool_Food_Comp`: Sum of comp non-alcoholic beverage revenue for other pool services.
- `PPool_Beverage_Cash`: Sum of cash beverage revenue for specific pool bars.
- `VPool_Beverage_Cash`: Sum of cash beverage revenue for other pool services.
- `PPool_Beverage_Comp`: Sum of comp beverage revenue for specific pool bars.
- `VPool_Beverage_Comp`: Sum of comp beverage revenue for other pool services.
- `Other_Cash`: Set to 0.
- `Other_Cash_NonTax`: Set to 0.
- `Other_Comp`: Set to 0.
- `Other_Comp_NonTax`: Set to 0.

## 6. Final Table: `FPA.dbo.DOR_IG_FINAL`
This table holds the final aggregated and calculated revenue data.

**Columns:**
- `TransactionDate`: Date of the transaction.
- `Revenue_Center`: Categorized revenue center.
- `Gross_Revenue`: Sum of various cash and comp revenue types plus discounts.
- `Discounts`: Sum of calculated discount amount.
- `Net_Revenue`: Sum of various cash and comp revenue types.
- `Checks`: Number of checks.
- `Covers`: Number of covers.
- `Food_Cash`: Sum of food cash revenue.
- `Food_Comp`: Sum of food comp revenue.
- `Beverage_Cash`: Sum of beverage cash revenue.
- `Beverage_Comp`: Sum of beverage comp revenue.
- `Other_Cash`: Sum of other cash revenue.
- `Other_Cash_NonTax`: Sum of other non-taxable cash revenue.
- `Other_Comp`: Sum of other comp revenue.
- `Other_Comp_NonTax`: Sum of other non-taxable comp revenue.
- `Service_Fee_House`: Sum of house service fees.
- `Service_Charge_Other`: Sum of other service charges.

## 7. Temporary Table: `PercentilesTable`
This table calculates and stores the 5th and 95th percentiles for revenue, checks, and covers for each revenue center after removing outliers.

**Columns:**
- `Revenue_Center`: Categorized revenue center.
- `Net_Revenue_5th_Percentile`: 5th percentile of net revenue.
- `Net_Revenue_95th_Percentile`: 95th percentile of net revenue.
- `Checks_5th_Percentile`: 5th percentile of checks.
- `Checks_95th_Percentile`: 95th percentile of checks.
- `Covers_5th_Percentile`: 5th percentile of covers.
- `Covers_95th_Percentile`: 95th percentile of covers.


## 8. Temporary Table: `NoOutliersTable`
This table is created to store data after removing outliers based on specified percentile thresholds.

**Columns:**
- All columns from `FPA.dbo.DOR_IG_FINAL`.



## 7. Final Table: `FPA.dbo.DOR_IG_Thresholds`
This table defines thresholds for different metrics, which can be used for outlier detection or other analyses.

**Columns:**
- `TransactionDate`: Date of the transaction.
- `Revenue_Center`: Categorized revenue center.
- `Gross_Revenue`: Gross revenue value.
- `Discounts`: Discount value.
- `Net_Revenue`: Net revenue value.
- `Checks`: Number of checks.
- `Covers`: Number of covers.
- `Food_Cash`: Food cash revenue value.
- `Food_Comp`: Food comp revenue value.
- `Beverage_Cash`: Beverage cash revenue value.
- `Beverage_Comp`: Beverage comp revenue value.
- `Other_Cash`: Other cash revenue value.
- `Other_Cash_NonTax`: Other non-taxable cash revenue value.
- `Other_Comp`: Other comp revenue value.
- `Other_Comp_NonTax`: Other non-taxable comp revenue value.
- `Service_Fee_House`: House service fee value.
- `Service_Charge_Other`: Other service charge value.
- `Revenue_Per_Check`: Calculated revenue per check.
- `Revenue_Per_Cover`: Calculated revenue per cover.

# Package Installations and Import

In [1]:
pip install pyodbc

Defaulting to user installation because normal site-packages is not writeable
Collecting pyodbc
  Downloading pyodbc-5.3.0-cp311-cp311-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl.metadata (2.7 kB)
Downloading pyodbc-5.3.0-cp311-cp311-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl (332 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 332.2/332.2 kB 4.0 MB/s eta 0:00:00a 0:00:01m
Installing collected packages: pyodbc
Successfully installed pyodbc-5.3.0
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip show pyodbc

Name: pyodbc
Version: 5.3.0
Summary: DB API module for ODBC
Home-page: https://github.com/mkleehammer/pyodbc
Author:
Author-email: Michael Kleehammer <michael@kleehammer.com>
License: MIT
Location: /home/jig015/.local/lib/python3.11/site-packages
Requires:
Required-by:
Note: you may need to restart the kernel to use updated packages.

In [ ]:
# import necessary packages
import csv
import pyodbc
# Define your SQL Server connection parameters
server = 'nvvedw-p02'
database = 'FPA'
driver = 'ODBC Driver 17 for SQL Server'

# Construct your connection string
connection_string = (f'DRIVEr={{{driver}}};SERVER={server};DATABASE={database};Trusted_Connection=yes;')

# 'DRIVER={ODBC Driver 17 for SQL Server};
# SERVER=' + server + ';
# DATABASE=' + database + ';
# UID=' + username + ';
# PWD=' + password'

try:
    # Establish a connection
    conn = pyodbc.connect(connection_string)
    print('Connection Established successfully')
    cursor = conn.cursor()


    sql_query = """
    -------------------------------------- Drop the #DOR_IG_REVENUE table if it exists------------------------------------------------
    DROP TABLE IF EXISTS #DOR_IG_REVENUE;
    
    ------------------------- Create #DOR_IG_REVENUE table and populate it with the desired data--------------------------------
    SELECT
        TransactionDate = CAST(BPD.start_date_time as DATE),
        Revenue_Center = CASE 
            WHEN PCD.profit_center_name = 'Venetian Theatre (BO)' THEN 'Venetian Theatre'
            WHEN PCD.profit_center_name = 'Voltaire Shows (BO)' THEN 'Voltaire'
            WHEN PCD.profit_center_name = 'Summit Showroom (BO)' THEN 'Summit Showroom'
            WHEN PCD.profit_center_name = 'ISD 1A' THEN 'ISD Venetian'
            WHEN PCD.profit_center_name IN ('Venezia Pool Bar') THEN 'Venetian Pool Bar'
            -- WHEN PCD.profit_center_name IN ('Venezia Pool Bar','Pool Service') THEN 'Venetian Pool Bar'
            WHEN PCD.profit_center_name = 'Pz Pl Svc Bar #1' THEN 'Palazzo Pool Bar'
            ELSE PCD.profit_center_name 
        END,
        Gross_Revenue = SUM([calculated_gross_sales_amount]),
        Discounts = SUM([calculated_discount_amount]),
        Net_Revenue = SUM([calculated_gross_sales_amount]) - SUM([calculated_discount_amount]),

        Food_Cash = SUM(
            CASE 
                WHEN tender_name NOT LIKE '%Comp%' AND tender_name <> 'ACSC Points' AND revenue_class_name = 'Food' THEN [calculated_gross_sales_amount] - [calculated_discount_amount]
                WHEN PCD.profit_center_name IN ('Palazzo Pool Bar','Pz Pl Svc Bar #1','Pool Service','Venetian Pool Bar','Venezia Pool Bar') 
                AND tender_name NOT LIKE '%Comp%' AND tender_name <> 'ACSC Points' AND revenue_class_name = 'Soda/Non-Alcoholic Beverage' THEN 0
                WHEN tender_name NOT LIKE '%Comp%' AND tender_name <> 'ACSC Points' AND revenue_class_name = 'Soda/Non-Alcoholic Beverage' THEN [calculated_gross_sales_amount] - [calculated_discount_amount]
                ELSE 0 
            END
        ),
        Food_Comp = SUM(
            CASE 
                WHEN tender_name LIKE '%Comp%' AND revenue_class_name = 'Food' THEN [calculated_gross_sales_amount] - [calculated_discount_amount]
                WHEN tender_name = 'ACSC Points' AND revenue_class_name = 'Food' THEN [calculated_gross_sales_amount] - [calculated_discount_amount]
                --2024-6-27: Now carving out 
                WHEN PCD.profit_center_name IN ('Palazzo Pool Bar','Pz Pl Svc Bar #1','Pool Service','Venetian Pool Bar','Venezia Pool Bar') 
                AND tender_name LIKE '%Comp%' AND revenue_class_name = 'Soda/Non-Alcoholic Beverage' THEN 0
                WHEN PCD.profit_center_name IN ('Palazzo Pool Bar','Pz Pl Svc Bar #1','Pool Service','Venetian Pool Bar','Venezia Pool Bar') 
                AND tender_name = 'ACSC Points' AND revenue_class_name = 'Soda/Non-Alcoholic Beverage' THEN 0
                WHEN tender_name LIKE '%Comp%' AND revenue_class_name = 'Soda/Non-Alcoholic Beverage' THEN [calculated_gross_sales_amount] - [calculated_discount_amount]
                WHEN tender_name = 'ACSC Points' AND revenue_class_name = 'Soda/Non-Alcoholic Beverage' THEN [calculated_gross_sales_amount] - [calculated_discount_amount]
                ELSE 0 
            END
        ),
        NonAlc_Bev_Cash = SUM(
            CASE 
                WHEN PCD.profit_center_name IN ('Palazzo Pool Bar','Pz Pl Svc Bar #1','Pool Service','Venetian Pool Bar','Venezia Pool Bar') 
                AND tender_name NOT LIKE '%Comp%' AND tender_name <> 'ACSC Points' AND revenue_class_name = 'Soda/Non-Alcoholic Beverage' THEN [calculated_gross_sales_amount] - [calculated_discount_amount]
                ELSE 0 
            END
        ),
        NonAlc_Bev_Comp = SUM(
            CASE 
                WHEN PCD.profit_center_name IN ('Palazzo Pool Bar','Pz Pl Svc Bar #1','Pool Service','Venetian Pool Bar','Venezia Pool Bar') 
                AND tender_name LIKE '%Comp%' AND revenue_class_name = 'Soda/Non-Alcoholic Beverage' THEN [calculated_gross_sales_amount] - [calculated_discount_amount]
                WHEN PCD.profit_center_name IN ('Palazzo Pool Bar','Pz Pl Svc Bar #1','Pool Service','Venetian Pool Bar','Venezia Pool Bar') 
                AND tender_name = 'ACSC Points' AND revenue_class_name = 'Soda/Non-Alcoholic Beverage' THEN [calculated_gross_sales_amount] - [calculated_discount_amount]
                ELSE 0 
            END
        ),
        Beverage_Cash = SUM(
            CASE 
                WHEN tender_name NOT LIKE '%Comp%' AND tender_name <> 'ACSC Points' AND revenue_class_name = 'Beverage' THEN [calculated_gross_sales_amount] - [calculated_discount_amount]
                ELSE 0 
            END
        ),
        Beverage_Comp = SUM(
            CASE 
                WHEN tender_name LIKE '%Comp%' AND revenue_class_name = 'Beverage' THEN [calculated_gross_sales_amount] - [calculated_discount_amount]
                WHEN tender_name = 'ACSC Points' AND revenue_class_name = 'Beverage' THEN [calculated_gross_sales_amount] - [calculated_discount_amount]
                ELSE 0 
            END
        ),
        Other_Cash = SUM(
            CASE 
                WHEN tender_name NOT LIKE '%Comp%' AND revenue_class_name IS NULL AND menu_item_name NOT LIKE '%No Tax%' THEN [calculated_gross_sales_amount] - [calculated_discount_amount]
                WHEN tender_name NOT LIKE '%Comp%' AND revenue_class_name NOT IN ('Food','Beverage','Soda/Non-Alcoholic Beverage') AND menu_item_name NOT LIKE '%No Tax%' THEN [calculated_gross_sales_amount] - [calculated_discount_amount]
                ELSE 0 
            END
        ),
        Other_Cash_NonTax = SUM(
            CASE 
                WHEN tender_name NOT LIKE '%Comp%' AND revenue_class_name IS NULL AND menu_item_name LIKE '%No Tax%' THEN [calculated_gross_sales_amount] - [calculated_discount_amount]
                WHEN tender_name NOT LIKE '%Comp%' AND revenue_class_name NOT IN ('Food','Beverage','Soda/Non-Alcoholic Beverage') AND menu_item_name LIKE '%No Tax%' THEN [calculated_gross_sales_amount] - [calculated_discount_amount]
                ELSE 0 
            END
        ),
        Other_Comp = SUM(
            CASE 
                WHEN tender_name LIKE '%Comp%' AND revenue_class_name IS NULL AND menu_item_name NOT LIKE '%No Tax%' THEN [calculated_gross_sales_amount] - [calculated_discount_amount]
                WHEN tender_name LIKE '%Comp%' AND revenue_class_name NOT IN ('Food','Beverage','Soda/Non-Alcoholic Beverage') AND menu_item_name NOT LIKE '%No Tax%' THEN [calculated_gross_sales_amount] - [calculated_discount_amount]
                ELSE 0 
            END
        ),
        Other_Comp_NonTax = SUM(
            CASE 
                WHEN tender_name LIKE '%Comp%' AND revenue_class_name IS NULL AND menu_item_name LIKE '%No Tax%' THEN [calculated_gross_sales_amount] - [calculated_discount_amount]
                WHEN tender_name LIKE '%Comp%' AND revenue_class_name NOT IN ('Food','Beverage','Soda/Non-Alcoholic Beverage') AND menu_item_name LIKE '%No Tax%' THEN [calculated_gross_sales_amount] - [calculated_discount_amount]
                ELSE 0 
            END
        )
    INTO #DOR_IG_REVENUE 
    FROM [ig_business].[dbo].[Check_Sales_Detail] CSD
    LEFT JOIN ig_dimension.dbo.Profit_Center_Dimension PCD ON CSD.profit_center_dim_id = PCD.profit_center_dim_id
    LEFT JOIN ig_dimension.dbo.Business_Period_Dimension BPD ON CSD.tendered_business_period_dim_id = BPD.business_period_dim_id
    LEFT JOIN [ig_business].[dbo].[Check_Item_Detail] CHK ON CSD.transaction_data_id = CHK.transaction_data_id
    LEFT JOIN [ig_dimension].[dbo].[Menu_Item_Dimension] MENU ON CHK.menu_item_dim_id = MENU.menu_item_dim_id
    LEFT JOIN [ig_dimension].[dbo].[Revenue_Category_Dimension] REVCAT ON MENU.revenue_category_id = REVCAT.revenue_category_id 
    AND MENU.profit_center_dim_ent_level_id = REVCAT.profit_center_dim_level2_id
    AND CAST(BPD.start_date_time AS DATE) BETWEEN CAST(REVCAT.eff_date_from AS DATE) AND CASE WHEN CAST(REVCAT.eff_date_to AS DATE) IS NULL THEN '2999-12-31' ELSE CAST(REVCAT.eff_date_to AS DATE) END
    LEFT JOIN [ig_dimension].[dbo].[Void_Reason_Dimension] VOID ON CHK.void_reason_dim_id = void.void_reason_dim_id
    LEFT JOIN [ig_business].[dbo].[Check_Tender_Detail] TEN ON CSD.transaction_data_id = TEN.transaction_data_id AND TEN.tender_sequence_id=0
    LEFT JOIN [ig_dimension].[dbo].[Tender_Dimension] tendim ON TEN.tender_dim_id = tendim.tender_dim_id
    WHERE 1=1
    AND CHK.[void_reason_dim_id] <> 17
    AND void_state <> 2
    AND tender_name NOT LIKE '%Test%'
    AND CAST(BPD.start_date_time AS DATE) 
    BETWEEN DATEFROMPARTS(YEAR(GETDATE()), 1, 1) AND DATEADD(DAY, -1, GETDATE())
    GROUP BY
    CAST(BPD.start_date_time AS DATE),
    CASE 
        WHEN PCD.profit_center_name = 'Venetian Theatre (BO)' THEN 'Venetian Theatre'
        WHEN PCD.profit_center_name = 'Voltaire Shows (BO)' THEN 'Voltaire'
        WHEN PCD.profit_center_name = 'Summit Showroom (BO)' THEN 'Summit Showroom'
        WHEN PCD.profit_center_name = 'ISD 1A' THEN 'ISD Venetian'
        WHEN PCD.profit_center_name IN ('Venezia Pool Bar') THEN 'Venetian Pool Bar'
        -- WHEN PCD.profit_center_name IN ('Venezia Pool Bar','Pool Service') THEN 'Venetian Pool Bar'
        WHEN PCD.profit_center_name = 'Pz Pl Svc Bar #1' THEN 'Palazzo Pool Bar'
        ELSE PCD.profit_center_name 
    END
    ORDER BY 
    TransactionDate,
    Revenue_Center;
    
    ---------------------------------------- Drop the #DOR_IG_COVERS table if it exists------------------------------------------------
    DROP TABLE IF EXISTS #DOR_IG_COVERS;

    ---------------------------Create #DOR_IG_COVERS table and populate it with the desired data--------------------------------
    SELECT  
        CAST(BPD.start_date_time as DATE) as Tran_Date,
        Profit_center_name = CASE 
            WHEN PCD.profit_center_name = 'Venetian Theatre (BO)' THEN 'Venetian Theatre'
            WHEN PCD.profit_center_name = 'Voltaire Shows (BO)' THEN 'Voltaire'
            WHEN PCD.profit_center_name = 'Summit Showroom (BO)' THEN 'Summit Showroom'
            WHEN PCD.profit_center_name = 'ISD 1A' THEN 'ISD Venetian'
            WHEN PCD.profit_center_name IN ('Venezia Pool Bar') THEN 'Venetian Pool Bar'
            -- WHEN PCD.profit_center_name IN ('Venezia Pool Bar','Pool Service') THEN 'Venetian Pool Bar'
            WHEN PCD.profit_center_name = 'Pz Pl Svc Bar #1' THEN 'Palazzo Pool Bar'
            ELSE PCD.profit_center_name 
        END,
        COUNT(CSD.check_number) - SUM(CASE WHEN refund_flag = 1 THEN 1 ELSE 0 END) * 2 as Checks,
        SUM(CSD.num_covers) as Covers
    INTO #DOR_IG_COVERS
    FROM [ig_business].[dbo].[Check_Sales_Detail] CSD
    LEFT JOIN ig_dimension.dbo.Profit_Center_Dimension PCD ON CSD.profit_center_dim_id = PCD.profit_center_dim_id
    LEFT JOIN ig_dimension.dbo.Business_Period_Dimension BPD ON CSD.tendered_business_period_dim_id = BPD.business_period_dim_id
    WHERE 1=1
    AND void_state <> 2 
    AND CAST(BPD.start_date_time as DATE) 
    BETWEEN DATEFROMPARTS(YEAR(GETDATE()), 1, 1) AND DATEADD(DAY, -1, GETDATE())
    GROUP BY 
    CAST(BPD.start_date_time as DATE),
    CASE 
        WHEN PCD.profit_center_name = 'Venetian Theatre (BO)' THEN 'Venetian Theatre'
        WHEN PCD.profit_center_name = 'Voltaire Shows (BO)' THEN 'Voltaire'
        WHEN PCD.profit_center_name = 'Summit Showroom (BO)' THEN 'Summit Showroom'
        WHEN PCD.profit_center_name = 'ISD 1A' THEN 'ISD Venetian'
        WHEN PCD.profit_center_name IN ('Venezia Pool Bar') THEN 'Venetian Pool Bar'
        -- WHEN PCD.profit_center_name IN ('Venezia Pool Bar','Pool Service') THEN 'Venetian Pool Bar'
        WHEN PCD.profit_center_name = 'Pz Pl Svc Bar #1' THEN 'Palazzo Pool Bar'
        ELSE PCD.profit_center_name 
    END
    ORDER BY 2;
    """
    
    # Execute the query
    cursor.execute(sql_query)
    conn.commit()
    print("#DOR_IG_REVENUE table created and data inserted successfully")


    
## DOR_IG_SVC_Fees table

    sql_query = """
    -------------------------------------- Drop the #DOR_IG_SVC_Fees table if it exists------------------------------------------------
    DROP TABLE IF EXISTS #DOR_IG_SVC_Fees;

    ------------------------- Create #DOR_IG_SVC_Fees table and populate it with the desired data--------------------------------
    SELECT 
        Tender_Date = cast(BP.start_date_time as date),
        Profit_center_name = CASE 
            WHEN PCD.profit_center_name = 'Venetian Theatre (BO)' THEN 'Venetian Theatre'
            WHEN PCD.profit_center_name = 'Voltaire Shows (BO)' THEN 'Voltaire'
            WHEN PCD.profit_center_name = 'Summit Showroom (BO)' THEN 'Summit Showroom'
            WHEN PCD.profit_center_name = 'ISD 1A' THEN 'ISD Venetian'
            WHEN PCD.profit_center_name IN ('Venezia Pool Bar') THEN 'Venetian Pool Bar'
            -- WHEN PCD.profit_center_name IN ('Venezia Pool Bar','Pool Service') THEN 'Venetian Pool Bar'
            WHEN PCD.profit_center_name = 'Pz Pl Svc Bar #1' THEN 'Palazzo Pool Bar'
            ELSE PCD.profit_center_name 
        END,
        Service_Fee_House = SUM(CASE 
            WHEN service_charge_id IN (3,49,43,21) THEN [service_charge_amount] 
            ELSE 0 
        END),
        Service_Charge_Other = SUM(CASE 
            WHEN service_charge_id IN (5,54,45) THEN [service_charge_amount] 
            ELSE 0 
        END),
        Service_Charges = SUM([service_charge_amount])
    INTO #DOR_IG_SVC_Fees
    FROM [ig_business].[dbo].[Sum_Service_Charge_BP_PC_MP_CT_SE_Tender] SC
    LEFT JOIN [ig_dimension].[dbo].[Business_Period_Dimension] BP ON SC.tendered_business_period_dim_id = BP.business_period_dim_id
    LEFT JOIN [ig_dimension].[dbo].[Service_Charge_Dimension] SCD ON SC.service_charge_dim_id = SCD.service_charge_dim_id
    LEFT JOIN ig_dimension.dbo.Profit_Center_Dimension PCD ON SC.profit_center_dim_id = PCD.profit_center_dim_id
    WHERE 1=1
    AND CAST(BP.start_date_time as DATE)
    BETWEEN DATEFROMPARTS(YEAR(GETDATE()), 1, 1) AND DATEADD(DAY, -1, GETDATE())
    AND service_charge_id IN (43, 45, 49, 5, 3, 21, 54)
    GROUP BY
        CAST(BP.start_date_time as date),
        CASE 
            WHEN PCD.profit_center_name = 'Venetian Theatre (BO)' THEN 'Venetian Theatre'
            WHEN PCD.profit_center_name = 'Voltaire Shows (BO)' THEN 'Voltaire'
            WHEN PCD.profit_center_name = 'Summit Showroom (BO)' THEN 'Summit Showroom'
            WHEN PCD.profit_center_name = 'ISD 1A' THEN 'ISD Venetian'
            WHEN PCD.profit_center_name IN ('Venezia Pool Bar') THEN 'Venetian Pool Bar'
            -- WHEN PCD.profit_center_name IN ('Venezia Pool Bar','Pool Service') THEN 'Venetian Pool Bar'
            WHEN PCD.profit_center_name = 'Pz Pl Svc Bar #1' THEN 'Palazzo Pool Bar'
            ELSE PCD.profit_center_name 
        END
    ORDER BY
        profit_center_name,
        Tender_Date;
    -------------------------------------- Drop the #DOR_POOL_OTHER table if it exists------------------------------------------------
    DROP TABLE IF EXISTS #DOR_POOL_OTHER;

    ------------------------- Create #DOR_POOL_OTHER table and populate it with the desired data--------------------------------
    SELECT 
        TransactionDate,
        Revenue_Center = 'Pool Service',
        Food_Cash = 0,
        Food_Comp = 0,
        Beverage_Cash = 0,
        Beverage_Comp = 0,
        Other_Cash = SUM(Other_Cash),
        Other_Cash_NonTax = SUM(Other_Cash_NonTax),
        Other_Comp = SUM(Other_Comp),
        Other_Comp_NonTax = SUM(Other_Comp_NonTax)
    INTO #DOR_POOL_OTHER
    FROM #DOR_IG_REVENUE
    WHERE 1=1
    AND Revenue_Center IN ('Palazzo Pool Bar', 'Pz Pl Svc Bar #1', 'Pool Service', 'Venetian Pool Bar', 'Venezia Pool Bar')
    GROUP BY TransactionDate
    ORDER BY TransactionDate;
    
    ------------------------------------------- Drop the #DOR_POOL_FB table if it exists------------------------------------------------
    DROP TABLE IF EXISTS #DOR_POOL_FB;

    ------------------------- Create #DOR_POOL_FB table and populate it with the desired data--------------------------------
    SELECT 
        TransactionDate,
        --Revenue_Center,
        Capri_Food_Cash = SUM(CASE 
            WHEN Revenue_Center IN ('Palazzo Pool Bar','Pz Pl Svc Bar #1') THEN Food_Cash 
            ELSE 0 
        END),
        Capri_Food_Comp = SUM(CASE 
            WHEN Revenue_Center IN ('Palazzo Pool Bar','Pz Pl Svc Bar #1') THEN Food_Comp 
            ELSE 0 
        END),
        Spritz_Food_Cash = SUM(CASE 
            WHEN Revenue_Center IN ('Pool Service','Venetian Pool Bar','Venezia Pool Bar') THEN Food_Cash 
            ELSE 0 
        END),
        Spritz_Food_Comp = SUM(CASE 
            WHEN Revenue_Center IN ('Pool Service','Venetian Pool Bar','Venezia Pool Bar') THEN Food_Comp 
            ELSE 0 
        END),
        PPool_Food_Cash = SUM(CASE 
            WHEN Revenue_Center IN ('Palazzo Pool Bar','Pz Pl Svc Bar #1') THEN NonAlc_Bev_Cash 
            ELSE 0 
        END),
        VPool_Food_Cash = SUM(CASE 
            WHEN Revenue_Center IN ('Pool Service','Venetian Pool Bar','Venezia Pool Bar') THEN NonAlc_Bev_Cash 
            ELSE 0 
        END),
        PPool_Food_Comp = SUM(CASE 
            WHEN Revenue_Center IN ('Palazzo Pool Bar','Pz Pl Svc Bar #1') THEN NonAlc_Bev_Comp 
            ELSE 0 
        END),
        VPool_Food_Comp = SUM(CASE 
            WHEN Revenue_Center IN ('Pool Service','Venetian Pool Bar','Venezia Pool Bar') THEN NonAlc_Bev_Comp 
            ELSE 0 
        END),
        PPool_Beverage_Cash = SUM(CASE 
            WHEN Revenue_Center IN ('Palazzo Pool Bar','Pz Pl Svc Bar #1') THEN Beverage_Cash 
            ELSE 0 
        END),
        VPool_Beverage_Cash = SUM(CASE 
            WHEN Revenue_Center IN ('Pool Service','Venetian Pool Bar','Venezia Pool Bar') THEN Beverage_Cash 
            ELSE 0 
        END),
        PPool_Beverage_Comp = SUM(CASE 
            WHEN Revenue_Center IN ('Palazzo Pool Bar','Pz Pl Svc Bar #1') THEN Beverage_Comp 
            ELSE 0 
        END),
        VPool_Beverage_Comp = SUM(CASE 
            WHEN Revenue_Center IN ('Pool Service','Venetian Pool Bar','Venezia Pool Bar') THEN Beverage_Comp 
            ELSE 0 
        END),
        Other_Cash = 0,
        Other_Cash_NonTax = 0,
        Other_Comp = 0,
        Other_Comp_NonTax = 0
    INTO #DOR_POOL_FB
    FROM #DOR_IG_REVENUE
    WHERE 1=1
    AND Revenue_Center IN ('Palazzo Pool Bar','Pz Pl Svc Bar #1','Pool Service','Venetian Pool Bar','Venezia Pool Bar')
    GROUP BY TransactionDate
    ORDER BY TransactionDate;
    
    -------------------------------------- Drop the #DOR_IG_REVENUE table if it exists------------------------------------------------
    DROP TABLE IF EXISTS #DOR_IG_REVENUE;

    ------------------------- Create #DOR_IG_REVENUE table and populate it with the desired data--------------------------------
    SELECT
        REV.TransactionDate,
        Revenue_Center = CASE 
            WHEN REV.Revenue_Center = 'Pool Service' THEN 'Pool Ops' 
            ELSE REV.Revenue_Center 
        END,
        Gross_Revenue,
        Discounts,
        Net_Revenue = REV.Net_Revenue,
        Checks,
        Covers,
        Food_Cash = CASE 
            WHEN REV.Revenue_Center = 'Palazzo Pool Bar' THEN FB.PPool_Food_Cash 
            WHEN REV.Revenue_Center = 'Venetian Pool Bar' THEN FB.VPool_Food_Cash 
            WHEN REV.Revenue_Center = 'Capri' THEN REV.Food_Cash + FB.Capri_Food_Cash
            WHEN REV.Revenue_Center = 'Spritz' THEN REV.Food_Cash + FB.Spritz_Food_Cash
            WHEN REV.Revenue_Center = 'Pool Service' THEN OPS.Food_Cash
            ELSE ISNULL(REV.Food_Cash, 0) 
        END,
        Food_Comp = CASE 
            WHEN REV.Revenue_Center = 'Palazzo Pool Bar' THEN FB.PPool_Food_Comp
            WHEN REV.Revenue_Center = 'Venetian Pool Bar' THEN FB.VPool_Food_Comp
            WHEN REV.Revenue_Center = 'Capri' THEN REV.Food_Comp + FB.Capri_Food_Comp
            WHEN REV.Revenue_Center = 'Spritz' THEN REV.Food_Comp + FB.Spritz_Food_Comp
            WHEN REV.Revenue_Center = 'Pool Service' THEN OPS.Food_Comp
            ELSE ISNULL(REV.Food_Comp, 0) 
        END,
        Beverage_Cash = CASE 
            WHEN REV.Revenue_Center = 'Palazzo Pool Bar' THEN FB.PPool_Beverage_Cash
            WHEN REV.Revenue_Center = 'Venetian Pool Bar' THEN FB.VPool_Beverage_Cash
            WHEN REV.Revenue_Center = 'Pool Service' THEN OPS.Beverage_Cash
            ELSE ISNULL(REV.Beverage_Cash, 0) 
        END,
        Beverage_Comp = CASE 
            WHEN REV.Revenue_Center = 'Palazzo Pool Bar' THEN FB.PPool_Beverage_Comp
            WHEN REV.Revenue_Center = 'Venetian Pool Bar' THEN FB.VPool_Beverage_Comp
            WHEN REV.Revenue_Center = 'Pool Service' THEN OPS.Beverage_Comp
            ELSE ISNULL(REV.Beverage_Comp, 0) 
        END,
        Other_Cash = CASE 
            WHEN REV.Revenue_Center = 'Pool Service' THEN OPS.Other_Cash
            WHEN REV.Revenue_Center IN ('Palazzo Pool Bar', 'Pz Pl Svc Bar #1', 'Venetian Pool Bar', 'Venezia Pool Bar') THEN FB.Other_Cash
            ELSE REV.Other_Cash 
        END,
        Other_Cash_NonTax = CASE 
            WHEN REV.Revenue_Center = 'Pool Service' THEN OPS.Other_Cash_NonTax
            WHEN REV.Revenue_Center IN ('Palazzo Pool Bar', 'Pz Pl Svc Bar #1', 'Venetian Pool Bar', 'Venezia Pool Bar') THEN FB.Other_Cash_NonTax
            ELSE REV.Other_Cash_NonTax 
        END,
        Other_Comp = CASE 
            WHEN REV.Revenue_Center = 'Pool Service' THEN OPS.Other_Comp
            WHEN REV.Revenue_Center IN ('Palazzo Pool Bar', 'Pz Pl Svc Bar #1', 'Venetian Pool Bar', 'Venezia Pool Bar') THEN FB.Other_Comp
            ELSE REV.Other_Comp 
        END,
        Other_Comp_NonTax = CASE 
            WHEN REV.Revenue_Center = 'Pool Service' THEN OPS.Other_Comp_NonTax
            WHEN REV.Revenue_Center IN ('Palazzo Pool Bar', 'Pz Pl Svc Bar #1', 'Venetian Pool Bar', 'Venezia Pool Bar') THEN FB.Other_Comp_NonTax
            ELSE REV.Other_Comp_NonTax 
        END,
        Service_Fee_House = ISNULL(Service_Fee_House, 0),
        Service_Charge_Other = ISNULL(Service_Charge_Other, 0),
        Gross_Revenue_RAW = REV.Gross_Revenue,
        Net_Revenue_RAW = REV.Net_Revenue
    INTO #DOR_IG_REVENUE
    FROM #DOR_IG_REVENUE REV
    LEFT JOIN #DOR_IG_COVERS COV ON REV.TransactionDate = COV.Tran_Date AND REV.Revenue_Center = COV.Profit_center_name
    LEFT JOIN #DOR_IG_SVC_Fees SVC ON REV.TransactionDate = SVC.Tender_Date AND REV.Revenue_Center = SVC.Profit_center_name
    FULL JOIN #DOR_POOL_OTHER OPS ON REV.TransactionDate = OPS.TransactionDate AND REV.Revenue_Center = OPS.Revenue_Center
    LEFT JOIN #DOR_POOL_FB FB ON REV.TransactionDate = FB.TransactionDate
    ORDER BY 1, 2;
    
    -------------------------------------- Drop the FPA.dbo.DOR_IG_FINAL table if it exists------------------------------------------------
    DROP TABLE IF EXISTS FPA.dbo.DOR_IG_FINAL;

    ------------------------- Create FPA.dbo.DOR_IG_FINAL table and populate it with the desired data--------------------------------
    SELECT
        TransactionDate,
        Revenue_Center,
        Gross_Revenue = Food_Cash + Food_Comp + Beverage_Cash + Beverage_Comp + Other_Cash + Other_Cash_NonTax + Other_Comp + Other_Comp_NonTax + Discounts,
        Discounts,
        Net_Revenue = Food_Cash + Food_Comp + Beverage_Cash + Beverage_Comp + Other_Cash + Other_Cash_NonTax + Other_Comp + Other_Comp_NonTax,
        Checks,
        Covers,
        Food_Cash,
        Food_Comp,
        Beverage_Cash,
        Beverage_Comp,
        Other_Cash,
        Other_Cash_NonTax,
        Other_Comp,
        Other_Comp_NonTax,
        Service_Fee_House,
        Service_Charge_Other
    INTO FPA.dbo.DOR_IG_FINAL
    FROM #DOR_IG_REJOIN
    WHERE 1=1
    ORDER BY 1, 2;
    

    -------------------------------------- Drop the FPA.dbo.Infogen_Full_Detail table if it exists------------------------------------------------
    DROP TABLE IF EXISTS FPA.dbo.Infogen_Full_Detail;

    ------------------------- Create FPA.dbo.Infogen_Full_Detail table and populate it with the desired data--------------------------------
    SELECT
        TransactionDate,
        Revenue_Center,
        Gross_Revenue = Food_Cash + Food_Comp + Beverage_Cash + Beverage_Comp + Other_Cash + Other_Cash_NonTax + Other_Comp + Other_Comp_NonTax + Discounts,
        Discounts,
        Net_Revenue = Food_Cash + Food_Comp + Beverage_Cash + Beverage_Comp + Other_Cash + Other_Cash_NonTax + Other_Comp + Other_Comp_NonTax,
        Checks,
        Covers,
        Food_Cash,
        Food_Comp,
        Beverage_Cash,
        Beverage_Comp,
        Other_Cash,
        Other_Cash_NonTax,
        Other_Comp,
        Other_Comp_NonTax,
        Service_Fee_House,
        Service_Charge_Other
    INTO FPA.dbo.DOR_IG_FINAL
    FROM #FPA.dbo.Infogen_Full_Detail
    WHERE 1=1
    ORDER BY 1, 2;

    
-------------------------------------- DROP TABLE IF EXISTS FPA.dbo.DOR_IG_Thresholds------------------------------------------------
    
DROP TABLE IF EXISTS FPA.dbo.DOR_IG_Thresholds;
CREATE TABLE FPA.dbo.DOR_IG_Thresholds (
    Revenue_Center VARCHAR(255),
    Net_Revenue_5th_Percentile FLOAT,
    Net_Revenue_95th_Percentile FLOAT,
    Checks_5th_Percentile FLOAT,
    Checks_95th_Percentile FLOAT,
    Covers_5th_Percentile FLOAT,
    Covers_95th_Percentile FLOAT
);

-------------------------------------- DROP TABLE IF EXISTS FPA.dbo.Infogen_Full_Detail_Thresholds------------------------------------------------

DROP TABLE IF EXISTS FPA.dbo.Infogen_Full_Detail_Thresholds;

CREATE TABLE FPA.dbo.Infogen_Full_Detail_Thresholds (
    TransactionDate DATE,
    Revenue_Center VARCHAR(255),
    Gross_Revenue FLOAT,
    Discounts FLOAT,
    Net_Revenue FLOAT,
    Checks FLOAT,
    Covers FLOAT,
    Food_Cash FLOAT,
    Food_Comp FLOAT,
    Beverage_Cash FLOAT,
    Beverage_Comp FLOAT,
    Other_Cash FLOAT,
    Other_Cash_NonTax FLOAT,
    Other_Comp FLOAT,
    Other_Comp_NonTax FLOAT,
    Service_Fee_House FLOAT,
    Service_Charge_Other FLOAT
);


    """
    
    # Execute the query
    cursor.execute(sql_query)
    conn.commit()
    print("FPA.dbo.DOR_IG_Thresholds created")
    print("FPA.dbo.Infogen_Full_Detail_Thresholds created")
    
#catch errors
except pyodbc.Error as e: 
    print("An error has occured",e)

    
finally: 
## close cursor and connection ##
    if connection_string:
    # Commit the table creation
        conn.commit()
        cursor.close()
        conn.close()

## FPA.dbo.DOR_IG_Thresholds

In [ ]:
#Remove Outliers
remove_outliers_query_IG_Thresholds = '''
    WITH Q1_Q3 AS (
        DISTINCT SELECT
            Revenue_Center,
            PERCENTILE_CONT(0.25) WITHIN GROUP (ORDER BY Net_Revenue) OVER (PARTITION BY Revenue_Center) AS Q1_Net_Revenue,
            PERCENTILE_CONT(0.75) WITHIN GROUP (ORDER BY Net_Revenue) OVER (PARTITION BY Revenue_Center) AS Q3_Net_Revenue,
            PERCENTILE_CONT(0.25) WITHIN GROUP (ORDER BY Checks) OVER (PARTITION BY Revenue_Center) AS Q1_Checks,
            PERCENTILE_CONT(0.75) WITHIN GROUP (ORDER BY Checks) OVER (PARTITION BY Revenue_Center) AS Q3_Checks,
            PERCENTILE_CONT(0.25) WITHIN GROUP (ORDER BY Covers) OVER (PARTITION BY Revenue_Center) AS Q1_Covers,
            PERCENTILE_CONT(0.75) WITHIN GROUP (ORDER BY Covers) OVER (PARTITION BY Revenue_Center) AS Q3_Covers
        FROM FPA.dbo.DOR_IG_FINAL
    )
    SELECT *
    INTO NoOutliersTable
    FROM FPA.dbo.DOR_IG_FINAL t
    JOIN Q1_Q3 q ON t.Revenue_Center = q.Revenue_Center
    WHERE
        t.Net_Revenue BETWEEN (q.Q1_Net_Revenue - 1.5 * (q.Q3_Net_Revenue - q.Q1_Net_Revenue)) AND (q.Q3_Net_Revenue + 1.5 * (q.Q3_Net_Revenue - q.Q1_Net_Revenue))
        AND t.Checks BETWEEN (q.Q1_Checks - 1.5 * (q.Q3_Checks - q.Q1_Checks)) AND (q.Q3_Checks + 1.5 * (q.Q3_Checks - q.Q1_Checks))
        AND t.Covers BETWEEN (q.Q1_Covers - 1.5 * (q.Q3_Covers - q.Q1_Covers)) AND (q.Q3_Covers + 1.5 * (q.Q3_Covers - q.Q1_Covers));
    '''
cursor.execute(remove_outliers_query)
conn.commit()

# Calculate percentiles
calculate_percentiles_query_IG_Thresholds = '''
    INSERT INTO FPA.dbo.DOR_IG_Thresholds
    DISTINCT SELECT
        Revenue_Center,
        PERCENTILE_CONT(0.05) WITHIN GROUP (ORDER BY Net_Revenue) OVER (PARTITION BY Revenue_Center) AS Net_Revenue_5th_Percentile,
        PERCENTILE_CONT(0.95) WITHIN GROUP (ORDER BY Net_Revenue) OVER (PARTITION BY Revenue_Center) AS Net_Revenue_95th_Percentile,
        PERCENTILE_CONT(0.05) WITHIN GROUP (ORDER BY Checks) OVER (PARTITION BY Revenue_Center) AS Checks_5th_Percentile,
        PERCENTILE_CONT(0.95) WITHIN GROUP (ORDER BY Checks) OVER (PARTITION BY Revenue_Center) AS Checks_95th_Percentile,
        PERCENTILE_CONT(0.05) WITHIN GROUP (ORDER BY Covers) OVER (PARTITION BY Revenue_Center) AS Covers_5th_Percentile,
        PERCENTILE_CONT(0.95) WITHIN GROUP (ORDER BY Covers) OVER (PARTITION BY Revenue_Center) AS Covers_95th_Percentile
    FROM NoOutliersTable;
    '''
cursor.execute(calculate_percentiles_query_IG_Thresholds)
conn.commit()
print("Percentiles calculated and inserted into FPA.dbo.DOR_IG_Thresholds")

# Close the connection
cursor.close()
conn.close()

## FPA.dbo.Infogen_Full_Detail_Thresholds

In [ ]:
# Remove Outliers
remove_outliers_query_infogen = '''
    WITH Q1_Q3 AS (
        DISTINCT SELECT
            Revenue_Center,
            PERCENTILE_CONT(0.25) WITHIN GROUP (ORDER BY Gross_Revenue) OVER (PARTITION BY Revenue_Center) AS Q1_Gross_Revenue,
            PERCENTILE_CONT(0.75) WITHIN GROUP (ORDER BY Gross_Revenue) OVER (PARTITION BY Revenue_Center) AS Q3_Gross_Revenue,
            PERCENTILE_CONT(0.25) WITHIN GROUP (ORDER BY Discounts) OVER (PARTITION BY Revenue_Center) AS Q1_Discounts,
            PERCENTILE_CONT(0.75) WITHIN GROUP (ORDER BY Discounts) OVER (PARTITION BY Revenue_Center) AS Q3_Discounts,
            PERCENTILE_CONT(0.25) WITHIN GROUP (ORDER BY Net_Revenue) OVER (PARTITION BY Revenue_Center) AS Q1_Net_Revenue,
            PERCENTILE_CONT(0.75) WITHIN GROUP (ORDER BY Net_Revenue) OVER (PARTITION BY Revenue_Center) AS Q3_Net_Revenue,
            PERCENTILE_CONT(0.25) WITHIN GROUP (ORDER BY Checks) OVER (PARTITION BY Revenue_Center) AS Q1_Checks,
            PERCENTILE_CONT(0.75) WITHIN GROUP (ORDER BY Checks) OVER (PARTITION BY Revenue_Center) AS Q3_Checks,
            PERCENTILE_CONT(0.25) WITHIN GROUP (ORDER BY Covers) OVER (PARTITION BY Revenue_Center) AS Q1_Covers,
            PERCENTILE_CONT(0.75) WITHIN GROUP (ORDER BY Covers) OVER (PARTITION BY Revenue_Center) AS Q3_Covers,
            PERCENTILE_CONT(0.25) WITHIN GROUP (ORDER BY Food_Cash) OVER (PARTITION BY Revenue_Center) AS Q1_Food_Cash,
            PERCENTILE_CONT(0.75) WITHIN GROUP (ORDER BY Food_Cash) OVER (PARTITION BY Revenue_Center) AS Q3_Food_Cash,
            PERCENTILE_CONT(0.25) WITHIN GROUP (ORDER BY Food_Comp) OVER (PARTITION BY Revenue_Center) AS Q1_Food_Comp,
            PERCENTILE_CONT(0.75) WITHIN GROUP (ORDER BY Food_Comp) OVER (PARTITION BY Revenue_Center) AS Q3_Food_Comp,
            PERCENTILE_CONT(0.25) WITHIN GROUP (ORDER BY Beverage_Cash) OVER (PARTITION BY Revenue_Center) AS Q1_Beverage_Cash,
            PERCENTILE_CONT(0.75) WITHIN GROUP (ORDER BY Beverage_Cash) OVER (PARTITION BY Revenue_Center) AS Q3_Beverage_Cash,
            PERCENTILE_CONT(0.25) WITHIN GROUP (ORDER BY Beverage_Comp) OVER (PARTITION BY Revenue_Center) AS Q1_Beverage_Comp,
            PERCENTILE_CONT(0.75) WITHIN GROUP (ORDER BY Beverage_Comp) OVER (PARTITION BY Revenue_Center) AS Q3_Beverage_Comp,
            PERCENTILE_CONT(0.25) WITHIN GROUP (ORDER BY Other_Cash) OVER (PARTITION BY Revenue_Center) AS Q1_Other_Cash,
            PERCENTILE_CONT(0.75) WITHIN GROUP (ORDER BY Other_Cash) OVER (PARTITION BY Revenue_Center) AS Q3_Other_Cash,
            PERCENTILE_CONT(0.25) WITHIN GROUP (ORDER BY Other_Cash_NonTax) OVER (PARTITION BY Revenue_Center) AS Q1_Other_Cash_NonTax,
            PERCENTILE_CONT(0.75) WITHIN GROUP (ORDER BY Other_Cash_NonTax) OVER (PARTITION BY Revenue_Center) AS Q3_Other_Cash_NonTax,
            PERCENTILE_CONT(0.25) WITHIN GROUP (ORDER BY Other_Comp) OVER (PARTITION BY Revenue_Center) AS Q1_Other_Comp,
            PERCENTILE_CONT(0.75) WITHIN GROUP (ORDER BY Other_Comp) OVER (PARTITION BY Revenue_Center) AS Q3_Other_Comp,
            PERCENTILE_CONT(0.25) WITHIN GROUP (ORDER BY Other_Comp_NonTax) OVER (PARTITION BY Revenue_Center) AS Q1_Other_Comp_NonTax,
            PERCENTILE_CONT(0.75) WITHIN GROUP (ORDER BY Other_Comp_NonTax) OVER (PARTITION BY Revenue_Center) AS Q3_Other_Comp_NonTax,
            PERCENTILE_CONT(0.25) WITHIN GROUP (ORDER BY Service_Fee_House) OVER (PARTITION BY Revenue_Center) AS Q1_Service_Fee_House,
            PERCENTILE_CONT(0.75) WITHIN GROUP (ORDER BY Service_Fee_House) OVER (PARTITION BY Revenue_Center) AS Q3_Service_Fee_House,
            PERCENTILE_CONT(0.25) WITHIN GROUP (ORDER BY Service_Charge_Other) OVER (PARTITION BY Revenue_Center) AS Q1_Service_Charge_Other,
            PERCENTILE_CONT(0.75) WITHIN GROUP (ORDER BY Service_Charge_Other) OVER (PARTITION BY Revenue_Center) AS Q3_Service_Charge_Other
        FROM FPA.dbo.Infogen_Full_Detail_Thresholds
    )
    SELECT *
    INTO NoOutliersTableInfogen
    FROM FPA.dbo.Infogen_Full_Detail_Thresholds t
    JOIN Q1_Q3 q ON t.Revenue_Center = q.Revenue_Center
    WHERE
        t.Gross_Revenue BETWEEN (q.Q1_Gross_Revenue - 1.5 * (q.Q3_Gross_Revenue - q.Q1_Gross_Revenue)) AND (q.Q3_Gross_Revenue + 1.5 * (q.Q3_Gross_Revenue - q.Q1_Gross_Revenue))
        AND t.Discounts BETWEEN (q.Q1_Discounts - 1.5 * (q.Q3_Discounts - q.Q1_Discounts)) AND (q.Q3_Discounts + 1.5 * (q.Q3_Discounts - q.Q1_Discounts))
        AND t.Net_Revenue BETWEEN (q.Q1_Net_Revenue - 1.5 * (q.Q3_Net_Revenue - q.Q1_Net_Revenue)) AND (q.Q3_Net_Revenue + 1.5 * (q.Q3_Net_Revenue - q.Q1_Net_Revenue))
        AND t.Checks BETWEEN (q.Q1_Checks - 1.5 * (q.Q3_Checks - q.Q1_Checks)) AND (q.Q3_Checks + 1.5 * (q.Q3_Checks - q.Q1_Checks))
        AND t.Covers BETWEEN (q.Q1_Covers - 1.5 * (q.Q3_Covers - q.Q1_Covers)) AND (q.Q3_Covers + 1.5 * (q.Q3_Covers - q.Q1_Covers))
        AND t.Food_Cash BETWEEN (q.Q1_Food_Cash - 1.5 * (q.Q3_Food_Cash - q.Q1_Food_Cash)) AND (q.Q3_Food_Cash + 1.5 * (q.Q3_Food_Cash - q.Q1_Food_Cash))
        AND t.Food_Comp BETWEEN (q.Q1_Food_Comp - 1.5 * (q.Q3_Food_Comp - q.Q1_Food_Comp)) AND (q.Q3_Food_Comp + 1.5 * (q.Q3_Food_Comp - q.Q1_Food_Comp))
        AND t.Beverage_Cash BETWEEN (q.Q1_Beverage_Cash - 1.5 * (q.Q3_Beverage_Cash - q.Q1_Beverage_Cash)) AND (q.Q3_Beverage_Cash + 1.5 * (q.Q3_Beverage_Cash - q.Q1_Beverage_Cash))
        AND t.Beverage_Comp BETWEEN (q.Q1_Beverage_Comp - 1.5 * (q.Q3_Beverage_Comp - q.Q1_Beverage_Comp)) AND (q.Q3_Beverage_Comp + 1.5 * (q.Q3_Beverage_Comp - q.Q1_Beverage_Comp))
        AND t.Other_Cash BETWEEN (q.Q1_Other_Cash - 1.5 * (q.Q3_Other_Cash - q.Q1_Other_Cash)) AND (q.Q3_Other_Cash + 1.5 * (q.Q3_Other_Cash - q.Q1_Other_Cash))
        AND t.Other_Cash_NonTax BETWEEN (q.Q1_Other_Cash_NonTax - 1.5 * (q.Q3_Other_Cash_NonTax - q.Q1_Other_Cash_NonTax)) AND (q.Q3_Other_Cash_NonTax + 1.5 * (q.Q3_Other_Cash_NonTax - q.Q1_Other_Cash_NonTax))
        AND t.Other_Comp BETWEEN (q.Q1_Other_Comp - 1.5 * (q.Q3_Other_Comp - q.Q1_Other_Comp)) AND (q.Q3_Other_Comp + 1.5 * (q.Q3_Other_Comp - q.Q1_Other_Comp))
        AND t.Other_Comp_NonTax BETWEEN (q.Q1_Other_Comp_NonTax - 1.5 * (q.Q3_Other_Comp_NonTax - q.Q1_Other_Comp_NonTax)) AND (q.Q3_Other_Comp_NonTax + 1.5 * (q.Q3_Other_Comp_NonTax - q.Q1_Other_Comp_NonTax))
        AND t.Service_Fee_House BETWEEN (q.Q1_Service_Fee_House - 1.5 * (q.Q3_Service_Fee_House - q.Q1_Service_Fee_House)) AND (q.Q3_Service_Fee_House + 1.5 * (q.Q3_Service_Fee_House - q.Q1_Service_Fee_House))
        AND t.Service_Charge_Other BETWEEN (q.Q1_Service_Charge_Other - 1.5 * (q.Q3_Service_Charge_Other - q.Q1_Service_Charge_Other)) AND (q.Q3_Service_Charge_Other + 1.5 * (q.Q3_Service_Charge_Other - q.Q1_Service_Charge_Other));
    '''
cursor.execute(remove_outliers_query_infogen)
conn.commit()

# Calculate percentiles
calculate_percentiles_query_infogen = '''
    INSERT INTO FPA.dbo.Infogen_Full_Detail_Thresholds
    DISTINCT SELECT 
        Revenue_Center,
        PERCENTILE_CONT(0.05) WITHIN GROUP (ORDER BY Gross_Revenue) OVER (PARTITION BY Revenue_Center) AS Gross_Revenue_5th_Percentile,
        PERCENTILE_CONT(0.95) WITHIN GROUP (ORDER BY Gross_Revenue) OVER (PARTITION BY Revenue_Center) AS Gross_Revenue_95th_Percentile,
        PERCENTILE_CONT(0.05) WITHIN GROUP (ORDER BY Discounts) OVER (PARTITION BY Revenue_Center) AS Discounts_5th_Percentile,
        PERCENTILE_CONT(0.95) WITHIN GROUP (ORDER BY Discounts) OVER (PARTITION BY Revenue_Center) AS Discounts_95th_Percentile,
        PERCENTILE_CONT(0.05) WITHIN GROUP (ORDER BY Net_Revenue) OVER (PARTITION BY Revenue_Center) AS Net_Revenue_5th_Percentile,
        PERCENTILE_CONT(0.95) WITHIN GROUP (ORDER BY Net_Revenue) OVER (PARTITION BY Revenue_Center) AS Net_Revenue_95th_Percentile,
        PERCENTILE_CONT(0.05) WITHIN GROUP (ORDER BY Checks) OVER (PARTITION BY Revenue_Center) AS Checks_5th_Percentile,
        PERCENTILE_CONT(0.95) WITHIN GROUP (ORDER BY Checks) OVER (PARTITION BY Revenue_Center) AS Checks_95th_Percentile,
        PERCENTILE_CONT(0.05) WITHIN GROUP (ORDER BY Covers) OVER (PARTITION BY Revenue_Center) AS Covers_5th_Percentile,
        PERCENTILE_CONT(0.95) WITHIN GROUP (ORDER BY Covers) OVER (PARTITION BY Revenue_Center) AS Covers_95th_Percentile,
        PERCENTILE_CONT(0.05) WITHIN GROUP (ORDER BY Food_Cash) OVER (PARTITION BY Revenue_Center) AS Food_Cash_5th_Percentile,
        PERCENTILE_CONT(0.95) WITHIN GROUP (ORDER BY Food_Cash) OVER (PARTITION BY Revenue_Center) AS Food_Cash_95th_Percentile,
        PERCENTILE_CONT(0.05) WITHIN GROUP (ORDER BY Food_Comp) OVER (PARTITION BY Revenue_Center) AS Food_Comp_5th_Percentile,
        PERCENTILE_CONT(0.95) WITHIN GROUP (ORDER BY Food_Comp) OVER (PARTITION BY Revenue_Center) AS Food_Comp_95th_Percentile,
        PERCENTILE_CONT(0.05) WITHIN GROUP (ORDER BY Beverage_Cash) OVER (PARTITION BY Revenue_Center) AS Beverage_Cash_5th_Percentile,
        PERCENTILE_CONT(0.95) WITHIN GROUP (ORDER BY Beverage_Cash) OVER (PARTITION BY Revenue_Center) AS Beverage_Cash_95th_Percentile,
        PERCENTILE_CONT(0.05) WITHIN GROUP (ORDER BY Beverage_Comp) OVER (PARTITION BY Revenue_Center) AS Beverage_Comp_5th_Percentile,
        PERCENTILE_CONT(0.95) WITHIN GROUP (ORDER BY Beverage_Comp) OVER (PARTITION BY Revenue_Center) AS Beverage_Comp_95th_Percentile,
        PERCENTILE_CONT(0.05) WITHIN GROUP (ORDER BY Other_Cash) OVER (PARTITION BY Revenue_Center) AS Other_Cash_5th_Percentile,
        PERCENTILE_CONT(0.95) WITHIN GROUP (ORDER BY Other_Cash) OVER (PARTITION BY Revenue_Center) AS Other_Cash_95th_Percentile,
        PERCENTILE_CONT(0.05) WITHIN GROUP (ORDER BY Other_Cash_NonTax) OVER (PARTITION BY Revenue_Center) AS Other_Cash_NonTax_5th_Percentile,
        PERCENTILE_CONT(0.95) WITHIN GROUP (ORDER BY Other_Cash_NonTax) OVER (PARTITION BY Revenue_Center) AS Other_Cash_NonTax_95th_Percentile,
        PERCENTILE_CONT(0.05) WITHIN GROUP (ORDER BY Other_Comp) OVER (PARTITION BY Revenue_Center) AS Other_Comp_5th_Percentile,
        PERCENTILE_CONT(0.95) WITHIN GROUP (ORDER BY Other_Comp) OVER (PARTITION BY Revenue_Center) AS Other_Comp_95th_Percentile,
        PERCENTILE_CONT(0.05) WITHIN GROUP (ORDER BY Other_Comp_NonTax) OVER (PARTITION BY Revenue_Center) AS Other_Comp_NonTax_5th_Percentile,
        PERCENTILE_CONT(0.95) WITHIN GROUP (ORDER BY Other_Comp_NonTax) OVER (PARTITION BY Revenue_Center) AS Other_Comp_NonTax_95th_Percentile,
        PERCENTILE_CONT(0.05) WITHIN GROUP (ORDER BY Service_Fee_House) OVER (PARTITION BY Revenue_Center) AS Service_Fee_House_5th_Percentile,
        PERCENTILE_CONT(0.95) WITHIN GROUP (ORDER BY Service_Fee_House) OVER (PARTITION BY Revenue_Center) AS Service_Fee_House_95th_Percentile,
        PERCENTILE_CONT(0.05) WITHIN GROUP (ORDER BY Service_Charge_Other) OVER (PARTITION BY Revenue_Center) AS Service_Charge_Other_5th_Percentile,
        PERCENTILE_CONT(0.95) WITHIN GROUP (ORDER BY Service_Charge_Other) OVER (PARTITION BY Revenue_Center) AS Service_Charge_Other_95th_Percentile
    FROM NoOutliersTableInfogen;
    '''
cursor.execute(calculate_percentiles_query_infogen)
conn.commit()
print("Percentiles calculated and inserted into FPA.dbo.Infogen_Full_Detail_Thresholds")

# Close the connection
cursor.close()
conn.close()